/* Não usar pure white or pure black: https://uxplanet.org/basicdesign-never-use-pure-black-in-typography-36138a3327a6 */
/* The 4-point grid system: https://medium.com/@sainzkike/controlling-spacing-in-design-systems-multiple-spacing-9bf1afec87f */

:root {
    --primary-brand-color: #ED145B;
    --secondary-brand-color: #0762C8;
    --success: #198754;
    --success-dark: #095c36;
    --success-light: #9dd3ba;
    --warning: #ffc107;
    --warning-dark: #705400;
    --warning-light: #fdebb3;
    --danger: #dc3545;
    --danger-dark: #990c19;
    --danger-light: #f0c1c6;
    --new-gray: #CCCCCC;
    --new-black: #212427;
    --new-white: #E8E8E8;
}

@font-face {
    font-family: 'Titan-One';
    src: url(../fonts/TitanOne-Regular.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}


.header {
    height: 10vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

}

.agora {
    font-weight: 800;
}

.header .container {
    height: 10vh;
    width: 100vw;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    z-index: 1000;
}

.header .container .icone {
    height: 100%;
    width: 8%;
    position: absolute;
    background-image: url(../assets/icone-logo-alt.png);
    background-size: contain;
    display: flex;
}

.header .container .navbar {
    height: 100%;
    width: 30%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    align-self: flex-end;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-family: 'Titan-One';
}

.banner {
    height: 100vh;
    width: 100vw;
    position: relative;
    top: 0;
    left: 0;
    background-image: url(../assets/banner.png);
    background-size: cover;
    background-position: center;
    z-index: 0;

}

.placar {
    height: 250px;
    width: 400px;
    background-color: black;
    z-index: 0;
    position: fixed;
    left: 200px;
    top: 185px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


.placar span {
    color: white;
    font-size: 20px;
}

.resposta {
    height: 300px;
    width: 500px;
    background-color: black;
    z-index: 0;
    position: fixed;
    left: 180px;
    top: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.resposta .questao_atual {
    color: white;

}

.resposta .opcoes {
    display: flex;
    flex-direction: column;
}

.banner .princesa {
    height: 60%;
    width: 50%;
    position: absolute;
    background-image: url(../assets/princesa.webp);
    right: 0;
    bottom: 0;
    z-index: 3;
}

.banner .princesa_triste {
    height: 60%;
    width: 50%;
    position: absolute;
    background-image: url(../assets/princesa_triste.webp);
    right: 0;
    bottom: 0;
    z-index: 3;
}

.banner .princesa_sinistra {
    height: 60%;
    width: 40%;
    position: absolute;
    background-image: url(../assets/princesa_sinistra.png);
    background-size: contain;
    right: 0;
    bottom: 0;
    z-index: 3;
}

.banner .pergunta {
    height: 27%;
    width: 20%;
    position: absolute;
    right: 600px;
    bottom: 400px;
    background-size: cover;
    z-index: 5;

}

.banner .preparado {
    background-image: url(../assets/preparado.png);
}

.banner .questao01 {
    background-image: url(../assets/questao01.png);
}

.banner .questao02 {
    background-image: url(../assets/questao02.png);
}

.banner .questao03 {
    background-image: url(../assets/questao03.png);
}

.banner .parabens {
    background-image: url(../assets/parabens.png);
}

.banner .mais_sorte {
    background-image: url(../assets/mais_sorte.png);
}

.banner .resposta_errada {
    background-image: url(../assets/resposta_errada.png);
}

.banner .resposta_certa {
    background-image: url(../assets/resposta_certa.png);
}

.resposta .botoes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.opcoes label {
    color: white;
}

.text_resposta_certa{
    background-color: #198754a6;
}

.text_resposta_errada{
    background-color: #871919a6;
}